<footer class="nav_footer">
  <div class="site_map__container">
    <div class="site_map">
      <a href="tel:0901541998" class="link_nav_footer">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">0901541998</font>
        </font>
      </a>
      <a href="mailto:thehien.btk@gmail.com" class="link_nav_footer">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">thehien.btk@gmail.com</font>
        </font>
      </a>
    </div>
    <div class="site_map">
      <a href="https://www.instagram.com/binztk" class="link_nav_footer">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">INSTAGRAM</font>
        </font>
      </a>
      <a href="https://twitter.com/binztk" class="link_nav_footer">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">TWITTER</font>
        </font>
      </a>
      <a href="https://www.youtube.com/BinzTK" class="link_nav_footer">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">YOUTUBE</font>
        </font>
      </a>
    </div>
  </div>
  <div class="footer_copyright">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Nguyễn Thế Hiển</font>
    </font>
  </div>
</footer>
