
.nav_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f5f5f5;
  background: #000000;
  @media screen and (max-width: 991px) {
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    border-top-color: #f5f5f5;
  }
  .site_map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    &__container {
      display: flex;
      @media screen and (max-width: 576px){
        flex-direction: column;
      }
    }
    @media screen and (max-width: 991px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  
  .link_nav_footer {
      padding-right: 48px;
      color: #f5f5f5;
      font-size: 1.5vw;
      text-transform: uppercase;
      text-decoration: none;
      @media screen and (max-width: 991px){
        padding-right: 32px;
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        margin-top: 8px;
        color: #f5f5f5;
        font-size: 12px;
      }
  }

  .footer_copyright {
    color: #f5f5f5;
    font-size: 1.5vw;
    text-align: right;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
    @media screen and (max-width: 576px) {
      color: #f5f5f5;
      font-size: 12px;
    }
  }
}
