
.nav_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 20px 90px;
  justify-content: space-between;
  align-items: center;
  background: $neu-10;

  @include mobile() {
    padding: 20px 30px;
  }

  .site_map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .link_nav_footer {
      padding-right: 48px;
      color: #f5f5f5;
      font-size: 1.5vw;
      text-transform: uppercase;
      text-decoration: none;
      @media screen and (max-width: 991px){
        padding-right: 32px;
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        margin-top: 8px;
        color: #f5f5f5;
        font-size: 12px;
      }
  }

  .footer_copyright {
    color: #f5f5f5;
    font-size: 1.5vw;
    text-align: right;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
    @media screen and (max-width: 576px) {
      color: #f5f5f5;
      font-size: 12px;
    }
  }
}

.nav-inner {

}

.social-icon {
  &--link {
    width: 32px;
    margin-right: 18px;

    @include mobile() {
      width: 26px;
      margin-right: 14px;
    }
  }
  &--link > svg {
    height: 24px;
    fill: $off-white;

    &:hover {
      fill: white;
    }

    @include mobile() {
      height: 18px;
    }
  }

  &--title {
    height: 0;
    visibility: hidden;
  }
}