/* The animation code */
@keyframes opacity {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: black;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    transform: translateY(0);
    // animation-name: opacity;
    // animation-duration: 1s;
    // animation-timing-function: ease-in-out;

    &.remove {
        transform: translateY(-100vh);
        transition: transform 1s ease-in-out;
    }

}



.intro {
    width: 100vw;
    height: 100vh;
    position: relative;

    &_content {
        position: absolute;
        z-index: 1;

        &_left {
            padding: 60px;
        }
    }

    &_bg {
        position: absolute;
        z-index: 0 ;
        top: 0;
    }

    &_mockup {
        height: 70%;
        width: auto;
    }
    overflow: hidden;
}

.card-image {
    height: 300px;
    width: auto;
    object-fit: contain;
}

.masonryGrid {
    column-count: 3;
    column-gap: .8em;

    &--item {
        display: inline-block;
        margin: 0 0 .4em;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }
}

.card--href {
    text-decoration: none;
}
