/* The animation code */
@keyframes opacity {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

.container {
    margin-top: 10px;
}

.topic-title {
    padding: 40px;
    @include until(769px) {
        padding: 30px;
    }
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: black;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    transform: translateY(0);
    // animation-name: opacity;
    // animation-duration: 1s;
    // animation-timing-function: ease-in-out;

    &.remove {
        transform: translateY(-100vh);
        transition: transform 1s ease-in-out;
    }

}


.intro_paragraph {
    margin-top: 80px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 40px;

    & h1 {
        font-weight: unset;
        font-size: 2rem;
    }
}


.card-image {
}

.masonryGrid {
    column-count: 3;
    column-gap: 1rem;
    padding: 40px;
    &--item {
        display: inline-block;
        margin: 0 0 .4em;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }
    @include until(769px) {
        column-count: 2;
        column-gap: 0.8rem;
        padding: 30px;
    }
}

.card--href {
    text-decoration: none;
}

.post-content {
    padding: 20px 30px 30px 30px;
    background-color: #000;
    margin-top: -7px;
    color: #fff;
}

.post-title {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
}
.post-schedule {
    font-size: 10px;
    opacity: 0.6;
    margin-bottom: 25px;
}

.post-table {
    color: #fff;
}

.footer {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    padding: 40px;
    p {
        padding: 0;
    }
}


