---
layout: default
---
  {{ content }}
  <section class="container">
    <div class="intro_paragraph">
      <h1>
        {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>
    </div>
  </section>
  <section class="container">
    <ul class="masonryGrid">
      {% for post in site.posts %}
        <li class="masonryGrid--item" data-aos="fade-up" data-aos-offset="100" data-aos-delay="200">
          <a class="card--href" href="{{ post.url }}">
            <img class="card-image" src="{{ post.thumbnail }}" />
            <h3 class="card--title">{{ post.title }}</h3>
            <p class="card--category">{{ post.categories }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
