---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<iframe width="100%" height="600" src="https://www.youtube.com/embed/{{ page.youtube_id }}">
</iframe> 
<div class="post-content">
  <h2 class="post-title">{{ page.title }}</h2>
  <p class="post-schedule">
    <time datetime="{{ page.date }}">
      <small>
        <strong>{{ page.date | date_to_string }}</strong>
        {% if author %}
          by {{ author.name }}
        {% endif %}
      </small>
    </time>
  </p>
  
  {% include page-intro.html %}
</div>
<section class="container">
  <ul class="masonryGrid">
    {% for post in site.posts %}
      <li class="masonryGrid--item" data-aos="fade-up" data-aos-offset="100" data-aos-delay="400">
        <a class="card--href" href="{{ post.url }}">
          <img class="card-image" src="https://drive.google.com/uc?export=view&id={{ post.thumbnail_ID }}" />
          <h3 class="card--title">{{ post.title }}</h3>
          <p class="card--category">{{ post.categories }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>



{{ content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
